@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border :none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


/* 
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 0 1px 6px 0 rgba(32 32 36/28%);
} */




.destination .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column:(minmax(27rem,1fr))auto[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap: 1.5rem;
    
    
}
.destination .box-container .box{
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(17 17 17/15%) 0px 0.5rem 1rem; 
    
}
.destination .box-container .box:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}
.destination .box-container .box .image{
    height: 20rem;
    overflow: hidden;
    width: 100%;
    
}
.destination .box-container .box .image img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
}
.destination .box-container .box .content{
    padding: 2rem;
    color: #000;
    
}
.destination .box-container .box .content p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2; 
    
}
.destination .box-container .box .content a{
    font-size: 1.7rem;
    color: #d9296f;
    text-decoration: none;
}
.destination .box-container .box .content a:hover i{
    padding-left: 1rem;
}
.destination .box-container .box .content a i{
    padding-right: .5rem;
} 


/*responsive*/
